In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import matplotlib as mpl
import datetime as dt
import seaborn as sns
import numpy as np

plt.rcParams['figure.figsize'] = [8, 6]
plt.rcParams.update({'font.size': 22})
plt.style.use('seaborn-poster')
mpl.rcParams['axes.spines.right'] = False
mpl.rcParams['axes.spines.top'] = False

# 1. OI data

In [4]:
url = 'https://www2.census.gov/programs-surveys/popest/geographies/2018/state-geocodes-v2018.xlsx'
state_code = pd.read_excel(url, header=5)
state_code = state_code.loc[state_code.iloc[:,-2]!=0]
map_data = state_code.set_index("State (FIPS)").iloc[:,-1].to_dict()

In [5]:
def read_oidata(url):
    df = pd.read_csv(url)
    df['date'] = pd.to_datetime(df[['year','month','day']])
    df.set_index('date',inplace=True)
    df = df.replace('.',np.NaN).dropna()
    df['state'] = df.statefips.map(map_data) # Map data from section A
    return df

In [6]:
url = 'https://raw.githubusercontent.com/OpportunityInsights/EconomicTracker/main/data/Affinity%20-%20State%20-%20Daily.csv'

df = read_oidata(url)
df.head(1)

,year,month,day,statefips,freq,spend_acf,spend_aer,spend_all,spend_apg,spend_grf,spend_hcs,spend_tws,spend_all_inchigh,spend_all_inclow,spend_all_incmiddle,spend_retail_w_grocery,spend_retail_no_grocery,provisional,state
date,,,,,,,,,,,,,,,,,,,
2020-01-13,2020,1,13,1,d,-.021,.0911,.0124,.0131,.0208,-.0556,.0184,.0047,.00952,.0159,.00663,-.000552,0,Alabama

In [7]:
df[['spend_acf', 'spend_aer',
       'spend_all', 'spend_apg', 'spend_grf', 'spend_hcs', 'spend_tws',
       'spend_all_inchigh', 'spend_all_inclow', 'spend_all_incmiddle',
       'spend_retail_w_grocery', 'spend_retail_no_grocery']] = df[['spend_acf', 'spend_aer',
       'spend_all', 'spend_apg', 'spend_grf', 'spend_hcs', 'spend_tws',
       'spend_all_inchigh', 'spend_all_inclow', 'spend_all_incmiddle',
       'spend_retail_w_grocery', 'spend_retail_no_grocery']].astype(float)

## 1.1 California Consumer spending

In [8]:
mask = (df.state=='California' ) & (df.spend_all_inclow>0)
cols = ['spend_all_inchigh', 'spend_all_inclow', 'spend_all_incmiddle']
df['2020':].loc[mask, cols].resample('m').mean().head(2)

            spend_all_inchigh  spend_all_inclow  spend_all_incmiddle
date
2020-01-31           0.013460          0.014386             0.008549
2020-02-29           0.017366          0.021829             0.022432